
gunicorn==20.1.0
Flask==2.2.3  # Update to a compatible version of Flask
Werkzeug==2.2.3  # Update or adjust according to Flask version
tensorflow==2.13.0  # Use a supported version
Pillow==9.0.1
numpy
